* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.padd1 {
  padding-left: 20px;
}

.padd2 {
  padding-left: 330px;
}

.padd3 {
  padding-left: 30px;
}
.logoCarro {
  width: 30px;
  height: 30px;
}

.img2 {
  width: 100px;
  height: 100px;
}

.linkNav{
  text-decoration: none;
}